name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: cargo build --release --verbose
    - name: lock
      run: ls -l target/release
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v3.1.0
      with:
        name: message_bridge_rs
        path: ${{ github.workspace }}/target/release/message_bridge_rs.*
  
